{% extends 'account/base.html' %}
{% load static %}
{% block content %}
<style>
    body {
        margin: 0;
      
        background: linear-gradient(-45deg, #FF512F, #F09819);
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;
      }
      
      @keyframes gradient {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0 50%;
        }
      }
      .list-group-item{
          background-color: white;
      }
      .pos{
          margin-left: 450px;
          width: 50%;
      }
      .btn {
        margin-right: 100px;
        appearance: button;
        background-color: #1899D6;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: din-round,sans-serif;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: .8px;
        line-height: 20px;
        margin: 0;
        outline: none;
        overflow: visible;
        padding: 13px 11px;
        text-align: center;
        text-transform: uppercase;
        touch-action: manipulation;
        transform: translateZ(0);
        transition: filter .2s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        width: 50%;
      }
      
      .btn:after {
        background-clip: padding-box;
        background-color: #1CB0F6;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        bottom: -4px;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
      }
      
      .btn:main,
      .button-19:focus {
        user-select: auto;
      }
      
      .btn:hover:not(:disabled) {
        filter: brightness(1.1);
      }
      
      .btn:disabled {
        cursor: auto;
      }
      
</style>

<div class='pos'>
    {% for post in posts %}
        <a href="{% url 'blog:detail' post.slug %}" style="text-decoration: none;"><li class="list-group-item">{{post}}</li></a>
        <p>Author: {{post.author}}</p>
    {% endfor %}
    <a href="create" class="btn btn-primary my-2">Create post</a>
</div>
{% endblock %}